<div class="col-md-6 user-container">
  <h2 class="text-center">Adicionar usuário</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" formControlName="name" placeholder="Nome" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input formControlName="cpf" placeholder="CPF" name="cpf" class="form-control" id="cpf">
    </div>

    <div class="form-group">
      <label for="birthday">Nascimento:</label>
      <input class="form-control" type="date" formControlName="birthday" placeholder="Nascimento" name="birthday" id="birthday">
    </div>

    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="number" formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
